section {
  display: flex;
  align-items: baseline;
  text-transform: lowercase;
}

.ticket-description {
  flex: 1;
  cursor: pointer;

  transition: color .3s;
}

.ticket-description:hover {
  color: #fe6a9a;
}